<!DOCTYPE html>
<html>
<head><title>camera.frese.me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="{{url_for('static', filename='camera.js')}}?version={{ version }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='date.js')}}"></script>
</head>

<body style="margin: 10px;">
    <div id="content" data-role="page">

	<center>
		<form action='/login' method='POST'>
			<h1>Login</h1>

			<div class="control-group">
			<input type="password" class="login-field" value="" placeholder="password" name="password">
			<label class="login-field-icon fui-lock" for="login-pass">&nbsp;</label>
			</div>

            <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
		    <br>
		</form>
	</center>

	<hr>

    </div><!-- page -->
</body>
</html>
